[submodule "include/rehlds"]
	path = include/rehlds
	url = https://github.com/dreamstalker/rehlds
[submodule "include/metamod-r"]
	path = include/metamod-r
	url = https://github.com/theAsmodai/metamod-r
[submodule "exts/sourcepawn/sourcepawn"]
	path = exts/sourcepawn/sourcepawn
	url = git@github.com:alliedmodders/sourcepawn.git
